.additional-images {
    width: 100%;
}

.additional-images .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.5rem;
    /* align items necessary to avoid stretching of images */
    align-items: center;
}

.additional-images .images div {
    width: 30%;
}
.additional-images .images img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.additional-images .image-holder {
    position: relative;
}

.additional-images .image-holder:hover span {
    display: inline;
}
.additional-images .image-holder span {
    display: none;
    position: absolute;
    right: 0;
    background-color: grey;
    border-radius: 50%;
    padding: 0.2rem;
    background-image: url("./../images/cross.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#img-container {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 999;
    cursor: pointer;
}

#img-container > img {
    margin: auto;
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    width: 80%;
    height: 80%;
}