.checkbox-component {
    text-align: right;
}


.chk {
    width: 13px;
    height: 13px;
    border: 1px solid black;
    position: relative;
    margin-right: 0;
    margin-left: auto;
  }
  
  .chk-disabled::after {
    background-color: white;
    opacity: 0.5;
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    position: relative;
    top: -1px;
    left: -1px;
  }
  
  .chk-checked::after {
    content: "X";  
  }