#message {
    width: 100%;
    position: fixed;
    bottom: 0px;
    color: white;
    font-weight: bold;
    transition-property: opacity;
    transition-duration: 2s;
}

#message.active {
    opacity: 1;  
}
#message.inactive {
    opacity: 0;    
}

#message > * {
    padding: 20px;
    text-align: center;
}

#message .success {
    background-color: green;
}

#message .error {
    background-color: red;
}