#msg-box-overlay {
    position: fixed;
    background-color: grey;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#msg-box.inactive {
    display: none;
}

#msg-box.active {
    display: block;
}

#msg-box-container {
    z-index: 200;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#msg-box-container span {
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
}

#msg-box-container button {
    width: 100px;
    margin-right: 1rem;
}

#msg-box-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: auto;
    background-color: white;
}