nav {
    position: absolute;
    width: 10%;
    border-right: 1px solid black;
    height: 60%;
    top: 20%;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  
  nav ul li {
    list-style-type: none;
    list-style-position: inside;
    cursor: pointer;
  }

  nav button {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  @media(max-width: 1400px) {
    nav {
      width: 20%;
    }
  }