.search-box {
    width: 100%;
    position: relative;
}

.search-box input {
    width: 100%;
}

.search-box:focus-within .sb-search-results, .sb-search-results:hover {
    display: block;
}

.sb-search-results {
    position: absolute;
    width: 100%;
    display: none;
    background-color: white;
}

.sb-search-results > div:hover {
    background-color: lightblue;
    cursor: pointer;
}
